.elements__button-delete {
  position: absolute;
  background-image: url(../../../images/deleteCard-basket.svg);
  cursor: pointer;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  border: 1px solid green;
  background-color: transparent;
  background-repeat: no-repeat;
}